html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

.tapper {
  width:210px;
  height:210px;
  border-radius: 50%;
}

@keyframes tempoCalculatePulse {
  0% {background-color: #fff;}
  100% {background-color: #D1C4E9;}
}

.animate-calculate {
  animation-name: tempoCalculatePulse;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes tempoResetPulse {
  0% {background-color: #D1C4E9;}
  100% {background-color: #fff;}
}

.animate-reset {
  animation-name: tempoResetPulse;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;;
}

#reset-message {
    transition: opacity 1s;
    opacity:0;
}

#reset-message.show {
  opacity: 1;
}

.mdl-grid {
  flex-direction: column;
}

#metro-message {
  position: absolute;
  bottom: 18px;
  left: 18px;
  top: initial;
  right: initial;
}

@media screen and (orientation: landscape) {
  .mdl-grid {
    flex-direction: row-reverse;
    align-items: center;
    height: 80vh;
  }

  #metro-message {
    top: 78px;
    right: 18px;
    left: initial;
    bottom: initial;
  }
}
